.register{
	overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    background: url( ../img/img_login/zhuce-bg.jpg) -0px top no-repeat;
	width: 100%;
	height: 659px;
}
.re_center{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.re_left {
    width: 705px;
    height: 680px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -140px;
     background: url( ../img/img_login/zhuce-icon.png) no-repeat; ;
}
.re_right{
    width: 450px;
    background-color: #fff;
    float: right;
    margin-top: 47px;
    margin-left: 10px;
    -webkit-box-shadow: #afabab 0px 0px 8px;
    box-shadow: #afabab 0px 0px 8px;
}
.re_box{
	width: 330px;
    margin: 45px auto;
    text-align: left;
}
.re_phone{
	width: 98px;
	margin-top: -30px;
	height: 25px;
    line-height: 25px;
    padding: 2px 20px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1px;
}
.re_line{
	height: 1px;
	background: #CCCCCC;
	margin-bottom: 31px;
}
.yours{
	padding-left:15px;
	position: relative;
	height: 64px;
}
.yours1{
	position: relative;
	height: 64px;
}
.yours2{
	padding-left:40px;
	position: relative;
	height: 64px;
}
.yours3{
	padding-left:15px;
	position: relative;
	height: 64px;
}
.yours_phone{
	width: 210px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.get{
	width: 70px;
    line-height: 25px;
    height: 25;
    border: 1px solid #ccc;
    color: #000;
    position: absolute;
    right: -36px;
    top: 3px;
    cursor: pointer;
    text-align: center;
    background: white;
    
}
.msg_warning{
	display: inline-block;
    font-size: 12px;
    color: #333;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    width: 210px;
    border: 1px solid #ff9ba5;
    background: #fee0e3;
    display: none;
    
}
.re_tip{
	padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}
